.search {
    &__main{
        position: relative;
    }
    &__mainInput {
        width: 100%;
        height: 69px;
        padding-left:15px;
        background-color:$colorGreyLight;
        border-radius:5px;
        border: none;
    }
    &__main > i {
        position: absolute;
        top: 15px;
        right:15px;
    }

    &__tag {
        margin-top:20px;
        height:60px;
        &--ingredients,
        &--appareils,
        &--ustensils {
            position: relative;
            padding:8px 45px 12px 10px;
            color:white;
            .tag-close {
                position: absolute;
                right: 10%;
            }
        }
        &--ingredients {
            background:$colorBlue;
        }
        &--appareils{
            background:$colorGreen;
        }
        &--ustensils{
            background:$colorOrange;
        }
    }
    &__filter {
        margin-top:10px;
        .dropdown {
            position: relative;
            display: inline-block;
            border-radius:5px;
            margin-right: 10px;
            &--ingredients{
                background-color: $colorBlue;
            }
            &--appareils{
                background:$colorGreen;
            }
            &--ustensils{
                background:$colorOrange;
            }
            input::placeholder {
                color:white;
                font-weight:bold;
            }
            .dropdown-btn {
                color: white;
                border: none;
                cursor: pointer;
                padding:5px;
                min-width:150px;
                text-align: start;

            }
            .dropdown-btn > span {
                margin-left:2px;
            }
            .dropdown-btn > i {
                position:absolute;
                right:5%;
                margin-top:5px;
                transform: rotate(0deg);
                transition: transform 0.2s;
            }

            .dropdown-input {
                visibility:hidden;
                padding: 5px;
                &--ingredients{
                    background:$colorBlue;
                }
                &--appareils {
                    background:$colorGreen;
                }
                &--ustensils{
                    background:$colorOrange;
                }
             }
            &__child {
                display: none;
                position: absolute;
                border-radius:0 0 5px 5px;
                min-width: 550px;
                max-width: 550px;
                z-index: 50;
                &--ingredients,
                &--ingredients > input{
                    background: $colorBlue;
                }

                &--appareils,
                &--appareils > input{
                    background:$colorGreen;
                }
                &--ustensils,
                &--ustensils > input{
                    background:$colorOrange;
                }
                .filter {
                    margin-top:5px;
                    padding: 5px;
                    &__input {
                        margin-left: 10px;
                        padding:10px 5px;
                        border:1px solid $colorGreyLight;
                    }
                    &__list {
                        padding: 5px;
                        margin-top: 10px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        &--li {
                            min-width:160px;
                            margin-left: 5px;
                            padding:0 5px;
                            color: white;
                            cursor: pointer;
                            text-align: left;

                        }
                    }
                }
            }

        }
        .dropdown:hover {
            min-width: 550px;
            border-radius:5px 5px 0 0;
        }
        .dropdown:hover .dropdown__child{
           display: block;
        }
        .dropdown:hover .dropdown-input {
            visibility:visible;
        }
        .dropdown:hover .dropdown-btn > i {
            animation: cursor 0.3s both;
            top: 15%;
        }
        .dropdown:hover .dropdown-btn > span {
            display: none;
        }
    }

}